
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>

    <table>
      <tr>
        <th>Welcome to Tuuze, <%=firstName%></th>
      </tr>
      <tr>
        <td>
          <p>Hi, <%=firstName%></p>
          <!-- <p> -->
            <!-- TTTTT           U          U   U            ZZZZZ      EEEEE -->
              <!-- T           U   U          U               ZZ        EE -->
              <!-- T           U   U          U              ZZ         EEEEE -->
              <!-- T           U   U          U             ZZ          EE -->
              <!-- T            UUU           U            ZZZZZ        EEEEE -->
          <!-- </p> -->
          <p>
          <b>

            Dear <%=firstName%>, <br>
            
            Welcome to Tuuze!  <br>

             Get ready for an amazing shopping experience! <br>
             Browse through our wide selection of products, <br>
             place orders securely, and enjoy top-notch customer support whenever you need it.
             <br>
            Happy shopping!
            <br>
            Best regards,<br>
            Tuuze Team <br>
            🎉🎉🎉🎉
          </b>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
