

  <div  *ngFor="let product of productData;  let i = index">

    <div style="margin-top:50px; height: 100%;" >
      <h4 style="display: inline-block;">name:</h4> <p style="display: inline-block;">{{product.name}}</p><br>
      <div>
        <div style="display: flex; align-items: center;">
          <h4 style="margin-right: 10px;">image:</h4>
          <img style="width: 40px;" src="{{product.image}}" alt="" srcset="">
        </div><br>
      <h4 style="display: inline-block;">description:</h4> <p style="display: inline-block;">{{product.description}}</p><br>
      <!-- <h4 style="display: inline-block;">category:</h4> <p style="display: inline-block;">{{product.category}}</p><br> -->
      <h4 style="display: inline-block;">in Stock:</h4> <p style="display: inline-block;">{{product.quantity}}</p><br>
      <h4 style="display: inline-block;">price:</h4> <p style="display: inline-block;">{{product.price}}</p><br>
      <button type="submit">Add To Cart</button>
    </div>

</div>

