/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden;
}
body, body button, body input,body select{
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
