

<app-navbar></app-navbar>
<div class="main">
    <div class="landing">
        <img src="../../../assets/Landing Page.jpg" alt="" class="landing-img">
        <div class="landing-txt">
            <h1>
                Welcome to Tuuze Shop.<br>
                At Tuuze, We got you covered.
            </h1>
            <button (click)="scrollToDiv()"  class="collection-btn">VIEW COLLECTION</button>
        </div>
    </div>
    <div class="carousel">
        <div class="caro1">
            <div class="img-carousel">
                <img src="../../../assets/carousel 1.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SUMMER COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 2.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SPRING COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 3.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>AUTUMN COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 4.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>WINTER COLLECTION</p>
                </div>
            </div>
        </div>
        <div class="caro2">
            <div class="img-carousel">
                <img src="../../../assets/carousel 1.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SUMMER COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 2.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>SPRING COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 3.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>AUTUMN COLLECTION</p>
                </div>
            </div>
            <div class="img-carousel">
                <img src="../../../assets/carousel 4.jpg" alt="" class="carousel-img">
                <div class="carousel-text">
                    <p>WINTER COLLECTION</p>
                </div>
            </div>
        </div>
    </div>

    <div  class="products-div">

        <div class="prod-title">
            <h1>Our Products</h1>
        </div>


        <div class="products">

            <div class="prod" (click)="showProduct()" (click)="viewprod(product.product_id)"  *ngFor="let product of myproducts;  let i = index">
                <div class="img-prod">
                    <img src="{{product.image}}" alt="" class="prod-img">
                    <button class="prod-text">
                      <P type="submit" (click)="addToCart(product)">Add To Cart</P>
                    </button>
                </div>
                <div class="prod-desc">
                  <p>{{product.name}}</p>
                  <!-- <p>{{product.description}}</p> -->
                  <p>{{product.category}}</p>
                  <p> <b> At only Ksh. {{product.price}}</b></p>
                  <p>In stock: {{product.quantity}}</p>
                </div>
            </div>



            <div class="prod-modal-bg"  *ngFor="let product of selectedProduct;  let i = index">

                <div class="prod-modal"  (click)="showProduct()"  >
                    <div class="modal-img">
                        <img src="{{product.image}}" alt="" class="img-modal">
                    </div>
                    <div class="modal-text">

                        <div class="close-icon" (click)="closeModal()">
                            <i class="fa-solid fa-circle-xmark" ></i>
                        </div>
                        <div class="mod-cont">
                            <div class="modal-desc">
                              <p>{{product.name}}</p>
                              <!-- <p>{{product.description}}</p> -->
                              <p> <b> At only Ksh. {{product.price}}</b></p>
                              <p>In stock: {{product.quantity}}</p>
                            </div>
                            <div class="modal-plus">
                                <i class="fa-solid fa-minus" (click)="minusCart()"></i>
                                <p>{{productQuantity}}</p>
                                <i class="fa-solid fa-plus" (click)="plusCart()"></i>
                            </div>
                            <div class="modal-add-cart">
                                <button class="cart-btn" (click)="addToCartLogic2(product)">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="reviews-div">
        <div class="rev-title">
            <h1>What our Customers say about us</h1>
        </div>
        <div class="rev-cont">
            <div class="revs">
                <div class="before">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="review">
                    <img src="../../../assets/carousel 2.jpg" alt="" class="rev-image">
                    <h2>Magdalene Grace</h2>
                    <h3>Fashion Designer</h3>
                    <p>Their designs are the best I have ever seen.</p>
                </div>
                <div class="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>


    </div>
</div>

<app-footer></app-footer>
