<div class="main">
  <nav class="navbar">
      <div class="nav-items">
          <div class="logo">
              <h1 routerLink="/">TUUZE</h1>
          </div>
          <div class="search">

          </div>
          <div class="menu">
              <ul>
                  <li routerLink="/auth/login">Login</li>
                  <li routerLink="/register">Register</li>
                  <li>
                      <i class="fa-solid fa-user"></i>
                      Account
                  </li>
                  <li>
                      <i class="fa-solid fa-cart-shopping"></i>
                      Cart
                  </li>
              </ul>
          </div>
          <div class="hambuger">
              <i class="fa-solid fa-bars"></i>
          </div>
      </div>
  </nav>
</div>
