<div class="main">
  <div class="links">
      <div class="aboutus">
          <h2>About us</h2>
          <p>
          Leading seller in fashion <br>
          styles to all clothes you <br>
          need.
          </p>
      </div>
      <div class="quick-links">
          <h2>Quick Links</h2>
          <ul>
          <li>Home</li>
          <li>Products</li>
          <li>About</li>
          <li>Contact</li>
          </ul>
      </div>
      <div class="aboutus">
          <h2>Contact Info</h2>
          <p>Downtown CBD, Moi Avenue <br>
              +254 729 776 804<br>
              {{email}}
          </p>
      </div>
      <div class="aboutus">
          <h2>Find us on</h2>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-linkedin"></i>
      </div>
</div>
<hr class="botton-line">
<div class="copyrights">
  <h2>
      &copy; 2024 Tuuze. All rights reserved.
  </h2>
</div>

</div>
