<app-navbar></app-navbar>
<div class="main">
    <div class="login-div">
        <form class="form" [formGroup]="passwordForm" (ngSubmit)="reset()">
          <!--  *ngFor="let user of myUsers" -->
            <div class="login-title">
                <h1>Reset Password</h1>
            </div>
            <div class="email">
                <label for="">Email</label><br>
                <input type="email" placeholder="********" class="email-input" name="email" formControlName="email">
            </div>
            <div class="email">
                <label for="">New Password</label><br>
                <input type="password" placeholder="******" class="password" name="password"  formControlName="password">
            </div>

            <!-- <div class="email"> -->
                <!-- <label for="">Confirm New Password</label><br> -->
                <!-- <input type="password" placeholder="******" class="password"> -->
            <!-- </div> -->

            <div class="email">
                <button type="submit"  class="login-btn">Change Password</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
