/* .product-container { */
  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 2px solid black; */
  /* width: 800px; */
  /* margin-bottom: 40px; */
  /* margin-left: 30px; */
  /* margin-top: 70px; */
/* } */

/* .product-image { */
  /* width: 30%; */
  /* border-radius: 30px; */
  /* margin: 30px; */
/* } */

/* .product-details { */
  /* padding: 20px; */
/* } */

/* .quantity-controls { */
  /* display: flex; */
  /* align-items: center; */
/* } */

/* .minus-btn, */
/* .plus-btn { */
  /* padding: 5px 10px; */
  /* background-color: #007bff; */
  /* color: #fff; */
  /* border: none; */
  /* border-radius: 5px; */
  /* margin-right: 10px; */
/* } */

/* span { */
  /* margin-right: 10px; */
/* } */


.cart-table {
  margin-top: 20px;
  /* margin: 50px; */
}

table {
  width: 70%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* tr:hover { */
  /* background-color: #ddd; */
/* } */

img {
  max-width: 100px;
  max-height: 100px;
}
